  <section class="sec">
           
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Login</h2>
            <form id="login-form">
                <div class="inputBx">
                  <span>Username</span> 
                  <input type="text" name="" id ="username-login">
                </div>
                <div class="inputBx">
                  <span>Password</span> 
                  <input type="password" name="" id ="password-login">
                </div>
                <button type="submit" id="login-btn" class="btn">Login</button>
                <div class="remember">
                    <label><input type="checkbox" name=""> Remember Me</label>
                </div>
                  <div class="inputBx" >
                      <p>Don't have and account? <a href="/signup">Sign Up</a></p>
                  </div>
            </form>
        </div>
    </div>
    </section>

<script src="/js/login.js"></script>
